body {
	max-width:100%;
	overflow:hidden;
	// display:flex;
	min-height:100vh;
	// flex-direction: column;
}

.wrap {
	margin-top: 30px;
}

.content {
}

a {
	color:$primary;
}

.container-fluid {
	width:100%;
}

.aligncenter {
	text-align: center;
}

/* TYPOGRAPHY
---------------------------------------- */
p {
	font-weight:300;
}