// Grid settings
// -------------------------

$grid-columns:          12;
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;
$max-width:2000px;


/* COLORS
---------------------------------------- */
$gray-base:       #303030;
$gray-darker:     lighten($gray-base, 13.5%);
$gray-dark:       lighten($gray-base, 20%);
$gray:            lighten($gray-base, 30%);
$gray-light:      lighten($gray-base, 50%);
$gray-lighter:    lighten($gray-base, 70%);

$primary:         #99A7BF; // light blue 
$secondcolor:     #163061; // darker blue
$thirdcolor:      #171D2F; // darkest blue
$fourthcolor:     #333528; // olive green
$success:         #B0FCC1; // light green
$info:            #5bc0de; // 
$warning:         #f0ad4e;
$danger:          #d9534f;


/* TYPOGRAPHY
---------------------------------------- */
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 3)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    Lato, Helvetica, Arial, sans-serif;
$headings-font-weight:    300;
$headings-line-height:    1.1;
$headings-color:          $gray-darker;
