/* STYLESHEET FOR HEADER AND NAV
---------------------------------------- */
$nav-height: 70px;

header.navbar {	
	z-index:1000;
	max-width:2000px;
	width:100%;
	margin:0 auto;
	// padding:5px;
	height:$nav-height;
	position: relative;
	background:$gray-lighter;
	display:flex;
	font-weight:300;
	color:$gray;
	text-align: center;
	font-size:$font-size-base;

	a {
		text-decoration: none;
	}
}

// WIDGET AREA TO THE LEFT OF THE LOGO
.header_flex_child {
	width:(100% / 3);
	flex:1;
}

.header-left {
	display:flex;
	align-items:center;
	text-align: right;

	div {
		margin:auto;
	}

	p {
		margin:0;
	}
}

// THE LOGO CONTAINER AND LOGO
.logo-container {
	img {
		width:260px;
		margin:5px auto 0 auto;
		position: relative;
		z-index: 100;
		transition: 0.3s transform;

		&:hover {
			transition: 0.3s transform;
			transform: scale(1.05);
		}
	}
}

#triangle {
	position: relative;
	margin:auto;
	z-index:1;
	margin-top:-100px;
	width:200px;
	height:200px;
	background:$gray-lighter;
	transform: matrix(1,0.3,-1,0.3,0,0);
}

$menu-color:$primary;

// MAIN NAV CONTAINER
.main-nav {
	display:flex;

	// MAIN NAV UL
	ul.nav {
		position: relative;
		display: flex;
		flex:1;
		margin:0;
		padding:0;

		// MAIN NAV ITEMS
		li {
			position: relative;
			align-items:center;
			flex:1;
			display: flex;
			box-sizing:border-box;
			line-height: $nav-height;

			a {	
				width:100%;
				flex:1;
				// line-height: $nav-height - 7px;
				text-transform: uppercase;
				color:$secondcolor;
				white-space: nowrap;

				&::before, &::after {
					font-size:20px;
					display: inline-block;
					opacity: 0;
					transition: transform 0.3s, opacity 0.2s;
				}
				&::before {
					margin-right: 10px;
					content: '[';
					transform: translateX(20px);
				}
				&::after {
					margin-left: 10px;
					content: ']';
					transform: translateX(-20px);
				}
				&:hover {
					&::before, &::after {
						opacity: 1;
						transform: translateX(0px);
					}
				}
				&:focus {
					&::before, &::after {
						opacity: 1;
						transform: translateX(0px);
					}
				}
			}
		}

		li.active > a {
			&::before {
				opacity: 1;
				margin-right: 10px;
				content: '[';
				transform: translateX(0px);
			}
			&::after {
				opacity: 1;
				margin-left: 10px;
				content: ']';
				transform: translateX(0px);
			}
		}

		.caret {
			// display: none;
		}

		// DROPDOWN MENU CONTAINER
		ul.dropdown-menu {
			padding:0;
			border-bottom: 5px solid $menu-color;
			background:$gray-lighter;
			top:$nav-height;

			// DROPDOWN MENU ITEMS
			a {
				min-width: 200px;
				margin:0;
				text-align: left;
				line-height: 20px;
				padding:10px 15px;
				display:block;
			}
		}
	}
}

.dropdown-menu > .active > a {
	&, &:hover, &:focus {
		color: $dropdown-link-active-color;
		text-decoration: none;
		outline: 0;
		background-color:transparent;
	}
}

/* HEADER MEDIA QUERIES
---------------------------------------- */
@media (max-width:1199px) { /* ------- 1310px --------- */

header.navbar {
	background:white;
	display:block;
	height:auto;
	padding:15px 0 0 0;
}

#triangle {
	display:none;
}

.header_flex_child {
	width:100%;
}

.main-nav {
	display:block;
	height:auto;
	background:$gray-lighter;
	margin-top: 30px;
	width:100%;

	a { 
		padding:0 10px;
		white-space: nowrap;
	}
	// MAIN NAV UL FOR MOBILE
	ul.nav {

		ul.dropdown-menu {
			left:0;
			top:$nav-height - 2;
			width:100% !important;
			min-width:150px;
			border:none;
			border-bottom:5px solid $secondcolor;

			a {
				font-size: $font-size-small;
				text-align: center;
			}
		}
	}
}

}

@media (max-width:800px) { /* ------- 800px --------- */


.main-nav {
	display:block;
	height:auto;
	background:$gray-lighter;
	margin-top: 30px;
	width:100%;

	li {
		line-height: $nav-height - 20 !important;
	}

	a { 
		white-space: nowrap;
	}

	// MAIN NAV UL FOR MOBILE
	ul.nav {
		display: block;

		li,a {
			display: block;
		}

		li:nth-child(2n+0) {
			background:$gray-lighter - 30;
		}
	}
}

}

@media (max-width:800px) { /* ------- 800px --------- */

.logo-container {
	padding-bottom: 30px;
	
	img {
		margin:auto;
		position: relative;
		z-index: 1;
	}
}

}
