/* STYLESHEET FOR HEADER AND NAV
---------------------------------------- */

$nav-height: 70px;

header.navbar {	
	padding:5px;
	height:$nav-height;
	position: relative;
	background:$gray-lighter;
	display:flex;
	font-weight:300;
	color:$gray;
	text-align: center;
	font-size:18px;

	a {
		text-decoration: none;
	}
}

// WIDGET AREA TO THE LEFT OF THE LOGO
.header_flex_child {
	width:(100% / 3);
	flex:1;
}

.header-left {
	display:flex;
	align-items:center;
	text-align: right;

	div {
		margin:auto;
	}

	p {
		margin:0;
	}
}

// THE LOGO CONTAINER AND LOGO
.logo-container {
	img {
		margin:auto;
		position: relative;
		z-index: 100;
	}
}

#triangle {
	position: relative;
	margin:auto;
	z-index:1;
	margin-top:-100px;
	width:200px;
	height:200px;
	background:$gray-lighter;
	transform: matrix(1,0.3,-1,0.3,0,0);
}

$menu-color:$primary;

// MAIN NAV CONTAINER
.main-nav {
	display:flex;

	// MAIN NAV UL
	ul.nav {
		display: flex;
		align-items: center;
		flex:2;
		margin:0;
		padding:0;

		// MAIN NAV ITEMS
		li {
			position: relative;
			flex:1;
			display: flex;
			position: relative;
			transition: background 0.3s;
			line-height: $nav-height;

			a {
				flex:1;
				color:$secondcolor;
				transition: all 0.3s;
			}

			a:hover {
				// text-decoration: none;
				// color:$secondcolor;
				// transition: all 0.3s;
				background:$menu-color;
			}
		}

		li:hover {
			background:$menu-color;
		}

		li.active {
			@extend li:hover
		}

		// DROPDOWN MENU CONTAINER
		ul.dropdown-menu { 
			visibility: hidden;
			opacity: 0;
			padding:0;
			border-top: 5px solid $menu-color;
			background:$gray-lighter - 10;
			position: absolute;
			left:0;
			top:$nav-height;
			transition: 0.3s all;
			z-index: 1000;

			// DROPDOWN MENU ITEMS
			a {
				min-width: 200px;
				margin:0;
				text-align: left;
				line-height: 20px;
				padding:10px 15px;
				display:block;
			}
		}
		li.dropdown:hover ul.dropdown-menu {
			visibility: visible;
			opacity: 1;
			height:auto;
			transition: 0.3s opacity;
			transition: 0.3s height;
		}
	}
}


/* HEADER MEDIA QUERIES
---------------------------------------- */
@media (max-width:1199px) { /* ------- 1199px --------- */

header.navbar {
	background:white;
	//display:block; for non-flex browsers
	height:auto;
	flex-flow:column;
	padding:15px 0 0 0;
	font-size:14px;
}

#triangle {
	display:none;
}

.header_flex_child {
	width:100%;
}

.main-nav {
	height:$nav-height - 20;
	background:$gray-lighter;
	margin-top: 30px;
	width:100%;

	li {
		line-height: $nav-height - 20 !important;
	}

	a { 
		//line-height: 50px !important;
		padding:0 10px;
		white-space: nowrap;
	}
	// MAIN NAV UL
	ul.nav {
		ul.dropdown-menu { 
			display:block !important;
			position: absolute;
			left:0;
			width:100% !important;
			min-width:150px;
			top:$nav-height - 20;
			height:auto !important;

			li {
				display: block;
				text-align: left !important;
				line-height: 20px !important;
			}
		}
	}
}

}

@media (max-width:800px) { /* ------- 800px --------- */

.logo-container {
	padding-bottom: 30px;
	border-bottom: 5px solid $secondcolor;
	img {
		margin:auto;
		position: relative;
		z-index: 1;
	}
}

}
